extends base
block content
    style.
        .card {
            overflow-x:hidden;
            overflow-y:hidden;
            width:360px;
            background: rgba(250,240,243,1);
            -webkit-box-shadow: 1px 1px 19px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 1px 19px -7px rgba(0,0,0,0.75);
            box-shadow: 1px 1px 19px -7px rgba(0,0,0,0.75);
            padding-bottom: 4px;
            border-radius: 6px;
        }
    header
        nav.navbar.navbar-default.navbar-inverse(style='background-color: black;')
            .container
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Datsec 
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/admin/response') Response
                        li
                            a.logout-btn #Logout

                // /.navbar-collapse
                // /.container-fluid
    section.blog-container
        .blog-div
            each blog in blogs
                .card
                    img.card-img-top(src=`https://datsec-blog-images.s3.ap-south-1.amazonaws.com/blog-images/${blog.imageCover}` alt=`${blog.slug}` style='width: 100%')
                    .card-body(style='padding: 6px')
                        - const date=blog.createdAt.toLocaleString('en-us', {day:'numeric', month:'short',year: 'numeric'});
                        if blog.visibility === false
                            p#blog-visibility(style="float:right;margin:6px;background:rgba(0,0,0,0.2);padding:2px;") private 
                        else
                            p#blog-visibility(style="float:right;margin:6px;background:rgba(0,0,0,0.2);padding:2px;") public 

                        h5.card-date= date
                        a(href=`/admin/blogs/${blog.slug}`).card-title=blog.title
                        - const description =  `${blog.content.substring(0,100)} [...]`;
                        p.card-text= description                
                    .control-container
                        .blog-visibility-control
                            select#mySelect.form-control.select-form-visibility
                                option(value='0') Private
                                option(value='1') Public
                            - const value = blog.visibility === false ? 0 : 1 ;
                            button.btn-sm.btn-success.btn-save(arial-id=`${blog.id}-${value}`) Save
                        .control-button
                            a.btn-sm.btn-warning.btn-update(href=`/admin/editBlog/${blog.slug}`) Edit
                            a.btn-sm.btn-danger.btn-delete(arial-id=`${blog.id}`) Delete
        a(href='/admin/createblog')
            img.fa.fa-plus.create-post(src="/img/plus-icon.png" height="56")                     
    .pagination
        if blogLength > 20
            if pageNum <=1 || pageNum == Nan
                li
                    a(href=`/blogs`) &laquo;
            else   
                li
                    a(href=`/blogs/page/${pageNum-1}`) &laquo;
        - let i=0;
        - const maxPage=parseInt((blogLength/20));
        if ! maxPage == 0
            while i < maxPage
                li
                    a(href=`/admin/blogs/page/${i+1}`)= `${i+1}`
                - i++;
        if blogLength > 20
            if pageNum <=1 || pageNum == Nan
                li
                    a(href=`/admin/blogs/page/1`) &raquo;
            else
                li
                    a(href=`/admin/blogs/page/${pageNum+1}`) &raquo;
    .footer
        ul.icons
            li
                a.icon.fa.fa-facebook(href='#' target='_blank')
                    span.label Facebook
            li
                a.icon.fa.fa-instagram(href='https://www.instagram.com/sushanthsk_/' target='_blank')
                    span.label Instagram
            li
                a.icon.fa.fa-envelope(href='https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=iamdatsec@gmail.com' target='_blank')
                    span.label Email
        p.copyright
            | &copy; 2022 | 
            b Datsec
            | . All Rights Reserved. 
            br
            | Designed by 
            a(style='text-decoration: none !important;' href='https://www.instagram.com/sushanthsk_/' target='_blank') Sushanth Sk
